@font-face {
  font-family: 'tower-pattern';
  src:  url('fonts/tower-pattern.eot?e9edr6');
  src:  url('fonts/tower-pattern.eot?e9edr6#iefix') format('embedded-opentype'),
    url('fonts/tower-pattern.ttf?e9edr6') format('truetype'),
    url('fonts/tower-pattern.woff?e9edr6') format('woff'),
    url('fonts/tower-pattern.svg?e9edr6#tower-pattern') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tower-pattern' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarm-button:before {
  content: "\7c";
}
.icon-alarm:before {
  content: "\7d";
}
.icon-fire-call:before {
  content: "\7e";
}
.icon-suspicious-mail:before {
  content: "\100";
}
.icon-suspicious-object-found:before {
  content: "\101";
}
.icon-message-in:before {
  content: "\102";
}
.icon-sms:before {
  content: "\7b";
}
.icon-burn-out:before {
  content: "\79";
}
.icon-sexual-assault:before {
  content: "\7a";
}
.icon-terrorist1:before {
  content: "\72";
}
.icon-bomb:before {
  content: "\73";
}
.icon-suspicious-object:before {
  content: "\74";
}
.icon-schoolbus:before {
  content: "\75";
}
.icon-accident:before {
  content: "\76";
}
.icon-helmet-gear:before {
  content: "\77";
}
.icon-extra-muros:before {
  content: "\78";
}
.icon-evacuation-dark:before {
  content: "\70";
}
.icon-radicalisation:before {
  content: "\69";
}
.icon-battle:before {
  content: "\61";
}
.icon-bomb1:before {
  content: "\62";
}
.icon-mental-health:before {
  content: "\63";
}
.icon-psycho:before {
  content: "\64";
}
.icon-teasing-boy:before {
  content: "\65";
}
.icon-terrorism:before {
  content: "\66";
}
.icon-upload:before {
  content: "\67";
}
.icon-shock:before {
  content: "\5d";
}
.icon-poisonous-gas:before {
  content: "\68";
}
.icon-gas_mask:before {
  content: "\5f";
}
.icon-accident-staircase:before {
  content: "\60";
}
.icon-paperplane:before {
  content: "\21";
}
.icon-send:before {
  content: "\22";
}
.icon-ruler:before {
  content: "\23";
}
.icon-enter:before {
  content: "\24";
}
.icon-exit:before {
  content: "\25";
}
.icon-pencil:before {
  content: "\26";
}
.icon-image:before {
  content: "\27";
}
.icon-images:before {
  content: "\28";
}
.icon-book:before {
  content: "\29";
}
.icon-books:before {
  content: "\2a";
}
.icon-file:before {
  content: "\2b";
}
.icon-copy:before {
  content: "\2c";
}
.icon-stack:before {
  content: "\2d";
}
.icon-folder:before {
  content: "\2e";
}
.icon-folder-open:before {
  content: "\2f";
}
.icon-notebook:before {
  content: "\30";
}
.icon-disk:before {
  content: "\31";
}
.icon-user:before {
  content: "\32";
}
.icon-search:before {
  content: "\33";
}
.icon-key:before {
  content: "\34";
}
.icon-minus:before {
  content: "\35";
}
.icon-plus:before {
  content: "\36";
}
.icon-arrow-up:before {
  content: "\37";
}
.icon-arrow-right:before {
  content: "\38";
}
.icon-arrow-down:before {
  content: "\39";
}
.icon-arrow-left:before {
  content: "\3a";
}
.icon-bold:before {
  content: "\3b";
}
.icon-underline:before {
  content: "\3c";
}
.icon-italic:before {
  content: "\3d";
}
.icon-paragraph-left:before {
  content: "\3e";
}
.icon-paragraph-center:before {
  content: "\3f";
}
.icon-paragraph-right:before {
  content: "\40";
}
.icon-list:before {
  content: "\41";
}
.icon-numbered-list:before {
  content: "\42";
}
.icon-menu:before {
  content: "\43";
}
.icon-menu2:before {
  content: "\44";
}
.icon-print:before {
  content: "\45";
}
.icon-remove:before {
  content: "\46";
}
.icon-link:before {
  content: "\47";
}
.icon-scissors:before {
  content: "\48";
}
.icon-close:before {
  content: "\49";
}
.icon-pencil2:before {
  content: "\4a";
}
.icon-undo:before {
  content: "\4b";
}
.icon-redo:before {
  content: "\4c";
}
.icon-file-xml:before {
  content: "\4d";
}
.icon-file-css:before {
  content: "\4e";
}
.icon-html5:before {
  content: "\4f";
}
.icon-css3:before {
  content: "\50";
}
.icon-mail:before {
  content: "\51";
}
.icon-indent-increase:before {
  content: "\52";
}
.icon-indent-decrease:before {
  content: "\53";
}
.icon-table:before {
  content: "\54";
}
.icon-paste:before {
  content: "\55";
}
.icon-spoon-knife:before {
  content: "\56";
}
.icon-opt:before {
  content: "\57";
}
.icon-users:before {
  content: "\58";
}
.icon-compass:before {
  content: "\59";
}
.icon-wrench:before {
  content: "\5a";
}
.icon-cogs:before {
  content: "\5b";
}
.icon-truck:before {
  content: "\5c";
}
.icon-phone:before {
  content: "\71";
}
.icon-fire:before {
  content: "\5e";
}
